<template>
    <div>
        <!--<div v-drag-and-drop:options="options" class="drag-wrapper">
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
            <ul>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 6</li>
            </ul>
            <ul>
                <li>Item 7</li>
                <li>Item 8</li>
                <li>Item 9</li>
            </ul>
        </div>-->
        <h2 class="titulo">List 1 draggable</h2>
        <vue-dragable class="dragArea" :list="list1" :options="{group:'people'}" @change="log">
            <div v-for="(element, index) in list1"  >
                {{element.name}} {{index}} <i class="fa fa-edit"></i>
            </div>
        </vue-dragable>

        <h2>List 2 draggable</h2>
        <vue-dragable class="dragArea" :list="list2" :options="{group:'people'}" @change="log">
            <div v-for="(element, index) in list2" :key="index">{{element.name}}</div>
        </vue-dragable>

    </div>
</template>

<script>
    import vueDragable from 'vuedraggable';

    export default {
        components: {
            vueDragable
        },
        name: "DragDrop",
        data(){
            return {
                options:{},
                list1:[
                    {name:"Tarea 1", id:1},
                    {name:"Tarea 2", id:2},
                    {name:"Tarea 3", id:3},
                    {name:"Tarea 4", id:4}
                ],
                list2:[
                    {name:"Tarea 5", id:5},
                    {name:"Tarea 6", id:6},
                    {name:"Tarea 7", id:7}
                ]
            }
        },
        methods: {
            add(){
                this.list1.push({name: `Tarea ${Math.floor((Math.random() * 100) + 50)}`})
            },
            log(evt){
                console.log(evt)
            }
        }
    }
</script>

<style scoped>

</style>